.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
}

.projects--header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

.projects--header h1 {
  margin-bottom: 40px;
  font-size: 3.5rem;
  font-family: var(--primaryFont);
}

.projects--body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects--bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  width: 100%;
}

.projects--viewAll {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}



.project--lang,
.project--desc {
  z-index: 1;
}

.project--desc:hover,
.project--lang:hover {
  z-index: 100;
  background-color: yellow;

}

.break{
  opacity:0;
}

/*  ------------------------------------ MEDIA QUERIES ------------------------------------ */
@media screen and (min-width: 992px) {
  .projects--bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .projects--bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
  }
}

@media screen and (max-width: 800px) {
  .projects--header h1 {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  div.projectContent > img{
    width: 100%;
    height: 60%;
    transition: opacity 0.7s 0.3s;
  }
}
 