g
{
  primary: '#272822';
  primary400: '#062f35';
  primary600: '#1c3639';
  primary80: '#26393c';
  primary50: '#135d66';
  primary30: '#4faeba';
  secondary: '#bfdee1';
  secondary70: '#eaeaea';
 secondary50: '#D1D1D1';
 tertiary: '#D1D1D1';
 tertiary80: '#eeeeee';
 tertiary70: '#C0C1C6';
 tertiary50: '#FFFFFF';

}