@import './index.css';

:root
{
  --primaryFont: 'Poppins', sans-serif;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  /* color: #232526; */
}

.DLSwitch{
  position: fixed;
  right: 1px;
  top: 1px;
  z-index:1000;
}