@import './index.css';
@import './index.scss';

:root
{
  --primaryFont: 'Poppins', sans-serif;

  --primary:  #232526;
  --white: #ffffff;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color: #232526;
}

.DLSwitch{
  position: absolute;
  left: 50%;
  top: 5%;
  z-index:1000;
}