
@import './index.css';

/* SCSS HEX */
$midnight: #6C2569ff;
$french-violet: #7E10DDff;
$laurel-green: #BECAAEff;
$ming: #016F7Aff;
$green-lizard: #90EA02ff;
$raisin-black: #282828ff;

/* SCSS HSL */
$midnight: hsla(303, 49%, 28%, 1);
$french-violet: hsla(272, 86%, 46%, 1);
$laurel-green: hsla(86, 21%, 74%, 1);
$ming: hsla(185, 98%, 24%, 1);
$green-lizard: hsla(83, 98%, 46%, 1);
$raisin-black: hsla(0, 0%, 16%, 1);

/* SCSS RGB */
$midnight: rgba(108, 37, 105, 1);
$french-violet: rgba(126, 16, 221, 1);
$laurel-green: rgba(190, 202, 174, 1);
$ming: rgba(1, 111, 122, 1);
$green-lizard: rgba(144, 234, 2, 1);
$raisin-black: rgba(40, 40, 40, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-right: linear-gradient(90deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-bottom: linear-gradient(180deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-left: linear-gradient(270deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-top-right: linear-gradient(45deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-bottom-right: linear-gradient(135deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-top-left: linear-gradient(225deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-bottom-left: linear-gradient(315deg, #6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);
$gradient-radial: radial-gradient(#6C2569ff, #7E10DDff, #BECAAEff, #016F7Aff, #90EA02ff, #282828ff);